.ui.long.modal(#modal)
  .header {{header}}
  .content
    form.ui.form([ngFormModel]="model")
      .field([class.error]="valid('code')")
        label Code:
        input([ngFormControl]="model.find('code')")
      .field([class.error]="valid('name')")
        label Name:
        input([ngFormControl]="model.find('name')")
      .field([class.error]="valid('phone')")
        label Phone:
        input([ngFormControl]="model.find('phone')")
      .field([class.error]="valid('email')")
        label Email:
        input([ngFormControl]="model.find('email')")
      .field([class.error]="valid('quota')")
        label Quota:
        input([ngFormControl]="model.find('quota')")
  .actions
    .ui.cancel.button Cancel
    .ui.primary.ok.button([class.loading]="loading") {{button}}
