.ui.long.modal(#modal)
  .header {{header}}
  .content
    form.ui.form([ngFormModel]="model")
      .field([class.error]="valid('name')")
        label Name:
        input([ngFormControl]="model.find('name')")
      .field([class.error]="valid('taxId')")
        label Tax ID:
        input([ngFormControl]="model.find('taxId')")
      .field([class.error]="valid('remark')")
        label Remark:
        input([ngFormControl]="model.find('remark')")
      h4.ui.dividing.header Contact Information
      .grouped.fields
        .field([class.error]="valid('contact.address')")
          label Address:
          input([ngFormControl]="model.find('contact').find('address')")
        .field([class.error]="valid('contact.subdistrict')")
          label Subdistrict:
          input([ngFormControl]="model.find('contact').find('subdistrict')")
        .field([class.error]="valid('contact.district')")
          label District:
          input([ngFormControl]="model.find('contact').find('district')")
        .field([class.error]="valid('contact.province')")
          label Province:
          input([ngFormControl]="model.find('contact').find('province')")
        .field([class.error]="valid('contact.postalCode')")
          label Postal Code:
          input([ngFormControl]="model.find('contact').find('postalCode')")
        .field([class.error]="valid('contact.country')")
          label Country:
          input([ngFormControl]="model.find('contact').find('country')")
        .field([class.error]="valid('contact.phone')")
          label Phone:
          input([ngFormControl]="model.find('contact').find('phone')")
        .field([class.error]="valid('contact.fax')")
          label Fax:
          input([ngFormControl]="model.find('contact').find('fax')")
        .field([class.error]="valid('contact.email')")
          label Email:
          input([ngFormControl]="model.find('contact').find('email')")
        .field([class.error]="valid('contact.website')")
          label Website:
          input([ngFormControl]="model.find('contact').find('website')")
  .actions
    .ui.cancel.button Cancel
    .ui.primary.ok.button([class.loading]="loading") {{button}}
