.ui.long.modal(#modal)
  .header {{header}}
  .content
    form.ui.form([ngFormModel]="model")
      .field([class.error]="valid('name')")
        label Name:
        input(ngControl="name")
      .field([class.error]="valid('taxId')")
        label Tax ID:
        input(ngControl="taxId")
      .field([class.error]="valid('remark')")
        label Remark:
        input(ngControl="remark")
      h4.ui.dividing.header Contact Information
      .grouped.fields(ngControlGroup="contact")
        .field([class.error]="valid('contact.address')")
          label Address:
          input(ngControl="address")
        .field([class.error]="valid('contact.subdistrict')")
          label Subdistrict:
          input(ngControl="subdistrict")
        .field([class.error]="valid('contact.district')")
          label District:
          input(ngControl="district")
        .field([class.error]="valid('contact.province')")
          label Province:
          input(ngControl="province")
        .field([class.error]="valid('contact.postalCode')")
          label Postal Code:
          input(ngControl="postalCode")
        .field([class.error]="valid('contact.country')")
          label Country:
          input(ngControl="country")
        .field([class.error]="valid('contact.phone')")
          label Phone:
          input(ngControl="phone")
        .field([class.error]="valid('contact.fax')")
          label Fax:
          input(ngControl="fax")
        .field([class.error]="valid('contact.email')")
          label Email:
          input(ngControl="email")
        .field([class.error]="valid('contact.website')")
          label Website:
          input(ngControl="website")
  .actions
    .ui.cancel.button Cancel
    .ui.primary.ok.button([class.loading]="loading") {{button}}
