.ui.middle.aligned.center.aligned.grid
  .column
    img.image(src="../../images/moonlogo_tran_300.png")
    h2.ui.teal.image.header
      .ui.grey.inverted.header
        | Log-in to your account
    form.ui.large.form(#f="ngForm")
      .ui.stacked.segment
        .field
          .ui.left.icon.input
            i.user.icon
            input(ngControl="user", placeholder="Username")
        .field
          .ui.left.icon.input
            i.lock.icon
            input(ngControl="pwd", type="password", placeholder="Password")
        .field
          .ui.checkbox
            input.hidden(ngControl="remember", type="checkbox")
            label Remember me
        button.ui.fluid.large.grey.submit.button((click)="login(f.value)") Log in
    .ui.message
      | Forgot&nbsp;
      a([routerLink]="['ForgotUsername']") username
      | &nbsp;/&nbsp;
      a([routerLink]="['ForgotPassword']") password
      | &nbsp;?

indicator

alert
