.header {{ title }}
.content
  | {{ content }}
  pre {{ code }}
.actions
  .ui.cancel.button(*ngIf="buttons.indexOf('cancel') !== -1") Cancel
  .ui.primary.cancel.button(*ngIf="buttons.indexOf('cancel.primary') !== -1") Cancel
  .ui.primary.ok.button(*ngIf="buttons.indexOf('ok') !== -1") OK
  .ui.ok.button(*ngIf="buttons.indexOf('delete') !== -1") Delete
  .ui.ok.button(*ngIf="buttons.indexOf('restore') !== -1") Restore
  .ui.primary.ok.button(*ngIf="buttons.indexOf('update') !== -1") Update
  .ui.primary.ok.button(*ngIf="buttons.indexOf('add') !== -1") Add
