.ui.left.fixed.vertical.menu
  .item
    .header Admin
    .menu
      a.item([class.active]="isActive('admin/users')", [routerLink]="['./Admin/Users']") Users
      a.item([class.active]="isActive('admin/roles')", [routerLink]="['./Admin/Roles']") Roles
      a.item([class.active]="isActive('admin/logs')", [routerLink]="['./Admin/Logs']") Logs
      a.item([class.active]="isActive('admin/trash')", [routerLink]="['./Admin/Trash']") Trash
  .item
    .header Sale
    .menu
      a.item([class.active]="isActive('sale/customers')", [routerLink]="['./Sale/Customers']") Customers
      a.item([class.active]="isActive('sale/customer_types')", [routerLink]="['./Sale/CustomerTypes']") Customer Types
  .item
    .header Stock
    .menu
      a.item([class.active]="isActive('stock/products')", [routerLink]="['./Stock/Products']") Products
      a.item([class.active]="isActive('stock/product_brands')", [routerLink]="['./Stock/ProductBrands']") Product Brands
      a.item([class.active]="isActive('stock/product_units')", [routerLink]="['./Stock/ProductUnits']") Product Units
      a.item([class.active]="isActive('stock/product_types')", [routerLink]="['./Stock/ProductTypes']") Product Types
      a.item([class.active]="isActive('stock/product_groups')", [routerLink]="['./Stock/ProductGroups']") Product Groups
      a.item([class.active]="isActive('stock/warehouses')", [routerLink]="['./Stock/Warehouses']") Warehouses
  .item
    .header Collection
    .menu
      a.item([class.active]="isActive('collection/collectors')", [routerLink]="['./Collection/Collectors']") Collectors
  .item
    .header EMS
    .menu
      a.item([class.active]="isActive('ems/staffs')", [routerLink]="['./Ems/Staffs']") Staffs
      a.item([class.active]="isActive('ems/tasks')", [routerLink]="['./Ems/Tasks']") Tasks

.ui.top.fixed.menu
  .item
    img(src="../images/moonlogo_tranb_300.png")
  a.item((click)="logout()") Log out
