.ui.left.fixed.vertical.menu
  .item
    .header Admin
    .menu
      a.item([class.active]="isActive('admin/users')", [routerLink]="['./Admin/Users']") Users
      a.item([class.active]="isActive('admin/roles')", [routerLink]="['./Admin/Roles']") Roles
      a.item([class.active]="isActive('admin/logs')", [routerLink]="['./Admin/Logs']") Logs
      a.item([class.active]="isActive('admin/trash')", [routerLink]="['./Admin/Trash']") Trash
  .item
    .header Common
    .menu
      a.item([class.active]="isActive('common/customers')", [routerLink]="['./Common/Customers']") Customers
      a.item([class.active]="isActive('common/customer_types')", [routerLink]="['./Common/CustomerTypes']") Customer Types
  .item
    .header Stock
    .menu
      a.item([class.active]="isActive('stock/product_units')", [routerLink]="['./Stock/ProductUnits']") Product Units
  .item
    .header Collection
    .menu
      a.item([class.active]="isActive('collection/collectors')", [routerLink]="['./Collection/Collectors']") Collectors

.ui.top.fixed.menu
  .item
    img(src="../images/moonlogo_tranb_300.png")
  a.item((click)="logout()") Log out
