.ui.pagination.menu
  a.item((click)="prevPage()")
    i.left.chevron.icon
  a.item(*ngFor="#p of pages",
         (click)="gotoPage(p)",
         [class.active]="p === page.current",
         [class.disabled]="p === -1") {{p !== -1 ? p + 1 : '...'}}
  a.item((click)="nextPage()")
    i.right.chevron.icon
