.ui.pagination.menu
  a.item((click)="_prevPage()")
    i.left.chevron.icon
  a.item(*ngFor="#p of pages",
         (click)="_gotoPage(p)",
         [class.active]="p === data.current",
         [class.disabled]="p === -1") {{p !== -1 ? p + 1 : '...'}}
  a.item((click)="_nextPage()")
    i.right.chevron.icon
