<div class="ui middle aligned center aligned grid">
  <div class="column">
    <img src="img/moonlogo_tran_300.png" class="image">
    <h2 class="ui teal image header">
      <div class="ui grey inverted header">
        Log-in to your account
      </div>
    </h2>
    <form class="ui large form" [ngFormModel]="loginForm">
      <div class="ui stacked segment">
        <div class="field" [ngClass]="{ error: loginForm.controls['user'].touched && !loginForm.controls['user'].valid }">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input ngControl="user" type="text" placeholder="Username">
          </div>
        </div>
        <div class="field" [ngClass]="{ error: loginForm.controls['pwd'].touched && !loginForm.controls['pwd'].valid }">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input ngControl="pwd" type="password" placeholder="Password">
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input ngControl="remember" type="checkbox" class="hidden">
            <label>Remember me</label>
          </div>
        </div>
        <button class="ui fluid large grey submit button" (click)="login()">Log in</button>
      </div>
    </form>
    <div class="ui message">
      Forgot <a [routerLink]="['ForgotUsername']">username</a> / <a [routerLink]="['ForgotPassword']">password</a> ?
    </div>
  </div>
</div>
<div class="ui modal" id="loading">
  <div class="ui active dimmer">
    <div class="ui large text loader">Loading</div>
  </div>
</div>
<div class="ui small modal" id="wrong">
  <div class="header">Error</div>
  <div class="content">
    <div class="description">
      Wrong username or password.
    </div>
  </div>
  <div class="actions">
    <div class="ui grey right approve button">
      OK
    </div>
  </div>
</div>
<div class="ui small modal" id="invalid">
  <div class="header">Error</div>
  <div class="content">
    <div class="description">
      Please input username and password.
    </div>
  </div>
  <div class="actions">
    <div class="ui grey right approve button">
      OK
    </div>
  </div>
</div>
